# ===============================
# Microchip / Atmel Studio files
# ===============================

.vs/
Debug/ 
Release/
x64/
build/
obj/

*.o
*.d
*.elf
*.hex 
*.map
*.lss
*.eep
*.srec
*.xml

# ===============================
# User-specific & temporary files
# ===============================

*.user
*.userprefs
*.suo
*.cache
*.log

# ===============================
# Proteus temporary files
# ===============================

*.DSN~
*.PWI
*.LCK
*.TMP
*.bak
*.workspace
*pdsbak

# ===============================
# OS-specific files
# ===============================

Thumbs.db
.DS_Store

# =======================================
# LaTeX Temporary / Build Files
# =======================================

# Core auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.log
*.nlo
*.nls
*.glsdefs

# LaTeX build directories
build/
out/
latex-build/


# =========================================
# LaTeX Editors
# =========================================

# TeXstudio
*.txss
*.txsauto